<!doctype html>
<html lang="en">

<head>

    <style>

    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>HOME</title>
</head>

<body style="background-color: #F7F9FB">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8D8741">

        <a class="navbar-brand" href="#">
            {% load static%}
            <img src="{% static '/home/smart-farm-inverted.png' %}" width="50" height="50" alt="" loading="lazy">
        </a>

        <a class="navbar-brand" href="#">
            <h3><b>IoT Based Agricultural Supervision</b></h3>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>

            <ul class="navbar-nav mr-sm-2">
                

                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:reg'%}">Hello, {{request.user}}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:logout' %}">Logout<span class="sr-only">(current)</span></a>
                </li>

                {% else %}

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:login' %}">Login<span class="sr-only">(current)</span></a>
                </li>
                 
                <li class="nav-item active">
                    <a class="nav-link" href="#">|<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:reg'%}">Signup<span class="sr-only">(current)</span></a>
                </li>

                {% endif %}

            </ul>


        </div>
    </nav>

    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% load static%}
                <img src="{% static '/home/5.jpeg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <b><h3>Farming meets IoT</h3></b>
                    <p>Make Farming Smart and Efficient.</p>
                </div>
            </div>
            <div class="carousel-item">
                {% load static%}
                <img src="{% static '/home/7.jpeg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Real Time Control and Information</h4>
                    <p>Control and automate your farm</p>
                </div>
            </div>
            <div class="carousel-item">
                {% load static%}
                <img src="{% static '/home/6.jpeg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Increase Yields</h4>
                    <p>By the help of various sensors get better yields</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container my-4 justify-content-center"> 
        <div class="row border rounded-lg p-4 "style="background-color: #F7F9FB">


            <div class="col-lg-4 p-3">
               
                <div class="d-flex justify-content-center"><img src="{% static '/home/020-flowers.svg'%}" class="bd-placeholder-img rounded-pill "
                        width="200" height="100"></div>
                <h2 class="my-3 d-flex justify-content-center">IoT and Farming</h2>
                <p style="text-align: center">IoT Based Agricultural Supervision is an implementation of various
                    devices and technologies like Internet, Cloud, IoT and AI to control, observe or automatically
                    manage farming based tasks like keeping moisture levels of the soil in check , keeping track of
                    pH level in the soil and alarm the farmer if levels become harmful for the crops.
                </p>
                <p><a class="btn btn-secondary d-flex justify-content-center border-0" style="background-color: #697739" href="#" role="button">View details
                        »</a></p>
                    
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4 border-left p-3">
                <div class="d-flex justify-content-center"><img src="{% static '/home/031-computer.svg' %}" class="bd-placeholder-img rounded-pill"
                        width="200" height="100"></div>
                <h2 class="my-3 d-flex justify-content-center">Benefits</h2>
                <p style="text-align: center">To make it easier for land owners to maintain their farms.
                    Save resources like water and fertilizers.
                    Increase the yield of crops.
                    Prevent losses by predictable circumstances.
                    All electrical devices in the field can be accessed from your phone.
                    Makes the farm safer and helps the farmer save time and money.
                    In near future more farms will adopt this technology
                </p>
                <p><a class="btn btn-secondary d-flex justify-content-center border-0" style="background-color: #697739" href="#" role="button">View details »</a>
                </p>
            </div><!-- /.col-lg-4 -->
            
            
            <div class="col-lg-4 border-left p-3">
                <div class="d-flex justify-content-center"><img src="{% static '/home/043-farmer.svg' %}" class="bd-placeholder-img rounded-pill"
                        width="200" height="100"></div>
                <h2 class="my-3 d-flex justify-content-center">Relaibility</h2>
                <p style="text-align: center">IBAS solves many above problems and also adds better implementation and
                    functionality. Interface provided to users with modern UI and a very easy learning curve.
                    Installing and Operating IBAS in farms is very easy and requires minimal skills. System is very
                    reliable and secure. It works on advanced algorithims. Relabilitey is no issue
                </p>
                <p><a class="btn btn-secondary d-flex justify-content-center border-0" style="background-color: #697739" href="#" role="button">View details »</a>
                </p>
            </div><!-- /.col-lg-4 -->
       
        </div>
    </span>
    </div>









    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->



</body>

</html>