.device-card-style{
    margin-top: 8px;
    margin-left: 2rem;
    height: 250px;
    width: 200px;
    border-radius: 30px;
    border-style: none;
    padding: 15px;
    text-align: center;
    
}

.device-card-body-style{
    text-align: left;
    display: flex;
    flex-direction: column;   
    text-align: center; 
    justify-content: center;
    align-items: center;
}

.icon-style{
    margin-top: 10px;
    height:50px;
    width: 50px;
    
  
}

.device-value-style{
    margin-top: 19px;
    font-size: medium;
   
}

.device-label-style{
    margin-bottom: 10px;
    font-size: 22px ;
    font-weight: 700;
    font-family: sans-serif;
}

.device-btn{
    
    border: solid 1px rgb(255, 255, 255);
   margin-top: 10px;
    background-color: rgb(255, 255, 255);
   width: 70%;
    border-radius: 48px;    
   
 
  
    
}

