<html>
    <head>
    <title>Login Page</title>
</head>

<body>
    {% if form.errors %}
    <p>Tour username and password didnt match</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenciated %}
        <p>Your acc dont have permission to access this page</p>
    {% endif %}
    {% endif %}

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" class="btn" btn-primary value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
</body>